
*{
    box-sizing: border-box;
}

body{
    background-color: #e5ddd5;
}


h1{
    text-align: center;
    font-size: 30px;
}


.hidden{
    display: none;
}

.active{
    display: block;
}


.image-container {
    width: 60%;
    margin:20px auto;
}


.button-wrapper{
    margin:20px
}

.prev, .next {
    cursor: pointer;
    width: 120px;
    height:40px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 3px 3px 0;
}
.next {
    margin-left: 50px;
    border-radius: 3px 0 0 3px;
}

