body {
    margin:  30px;
}

.text {
    padding: 10px;
    border: 1px solid grey;
    font-size: initial;
}

.color-input , .backcolor-input{
    margin-top: 50px;
    padding: 5px;

}
.btn {
    margin-top : 10px;
}